@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Body and html section-------------------- */
html,body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #312e2e;
  position: relative;
  height: auto;
  overflow-x: hidden;
  line-height: 35px;
  font: 16px;
  -webkit-tap-highlight-color: transparent;
}


/* header section ------------------------------------------------------------- */
header .space-header-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 300;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-weight: 800;
  background-color: #464444;
}
.space-header-container .back {
  margin-right: 40px;
} 
.space-header-container a {
  text-decoration: none;
  color: rgb(149, 149, 149);
  margin-left: 20px;
  font-weight: 900;
  font-size: 30px;
}


/* main section start here------------------------------------------------------- */
main .content {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  margin-right: 0px;
  padding-top: 100px;
}
.content h1,
.content h3,
.content h2 {
  padding: 10px 1px;
  text-decoration: none;
  font-weight: 500;
}
.content h1 hr {
  margin: 20px 0px;
  width: auto;
  border: 2px solid rgb(54, 100, 100);
}
hr {
  margin: 20px 0px;
  width: 800px;
  border: 1px solid rgb(170, 188, 188);
}

main .content {
  margin-bottom: 300px;
}
.content img {
  width: 400px;
  background-color: #fff;
  border-radius: 3px;

}
.content p {
  margin-top: 25px;
}
.content figcaption {
  font-size: 10px;
  color: #333;
  line-height: 15px;
  background-color: #dcdcdc;
  width: 200px;
}
.content h2 {
  font-weight: 700;
}
.content h1 {
  font-weight: 800;
}

.credit a {
  color: rgb(32, 69, 69);
}
.top{
   /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(143, 57, 57); /* Set a background color */
  color: rgb(227, 227, 227); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px 20px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}








